In [8]:
import googlemaps
import json
import pandas as pd
import time

For municipality in list:

0. Call google API
1. Check if one result is returned
2. Convert first element of list to JSON object
3. Extract \['geometry']['location'] to get to \['lat'] & \['lng'] values
4. Append result as data = [[municipality, lat, lng]] --> result = pd.DataFrame(data, columns='Municipality', 'Lat', 'Lng']

In [42]:
raw_municipality_data = pd.read_csv("Gemeenten2018.csv");
municipalities = raw_municipality_data[["Gemeentenaam"]].Gemeentenaam

In [45]:
# raw_data = {}
# multiple_responses = {}
# data = []
# gmaps = googlemaps.Client(key='YOUR_API_KEY')

# for m in municipalities:
#     geocode_result = gmaps.geocode(f'{m}, the Netherlands')
#     raw_data[m] = geocode_result

In [48]:
# with open('raw_google_geocoding_data.json', 'w') as fp:
#     json.dump(raw_data, fp)

In [49]:
with open('raw_google_geocoding_data.json', 'r') as fp:
    raw_data2 = json.load(fp)

In [65]:
multiple_responses = {}
data = []
for m in municipalities:
    if len(raw_data2[m]) != 1:
        multiple_responses[m] = raw_data2[m]
    
    res_json = raw_data2[m][0]
    coord = res_json['geometry']['location']
    data.append([m, coord['lat'], coord['lng']])

In [66]:
result = pd.DataFrame(data, columns=['Municipality', 'Lat', 'Lng'])

In [71]:
result.to_csv("municipalities_coordinates_2018.csv", index=False)

In [75]:
result.loc[result['Municipality'] == "Delft"]

   Municipality        Lat       Lng
69        Delft  52.011577  4.357068

In [76]:
result.loc[result['Municipality'] == "Zoetermeer"]

    Municipality        Lat       Lng
371   Zoetermeer  52.060669  4.494025

In [77]:
result.iloc[15]

Municipality    Amsterdam
Lat             52.367573
Lng              4.904139
Name: 15, dtype: object